/* Universal */

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  color: var(--accent2);
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: start;
  gap: 20px;  
}

/* Main */

main {
  color: white;
}

main .container {
  display: flex;
  justify-content: space-between;
}

main .right {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Hero section of main */

/* .hero {
} */

.hero .left {
  width: 25%;
  border: solid yellow;
}
.hero .right {
  width: 70%;
  border: solid yellow;
}

#self-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
 }

 /* Portfolio section of main */
 .adv .left {
  width: 25%;
  border: solid yellow; 
 }

 .adv .right {
  width: 70%;
  border: solid yellow;
 }

 #adv-header {
  display: flex;
  gap: 10px;
 }





 



/* Cell phone scroll effect */

























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
